<!DOCTYPE html>
<html lang="en" id="demo">
<head>
	<meta charset="UTF-8">
	<title>Imagenet home</title>
</head>

<style type="text/css">

</style>

<body>
<h1 align="center",style="font-size:48px;color:black">Welcome to Imagenet Evaluation platform!</h1>
<hr />
<p align="center">Please input your name:</p><br />

<form name="form1" id="form1" method="post" action="username" align="center">
username: <input type="text" name="username" id="inputname" required="required" align="center"> <br />
<input type="submit" value="Submit" align="center">
</form>

<script type="text/javascript">


</script>

</body>
</html>
