<!DOCTYPE html>
<html lang="en" id="demo">
<head>
	<meta charset="UTF-8">
	<title>Imagenet home</title>
</head>

<style type="text/css">
.buttondiv{
margin:0 auto;
}


.button{
font-size:16px;
margin-left:40px;
margin-right:40px;
margin-top:20px;
margin-bottom:20px;
width:120px;
height:40px;
}

.text1{
font-size:20px;
}

</style>

<body>
<h1 align="center",style="font-size:48px;color:black">Welcome to Restaurant Chosing Interface</h1>
<hr />
<p align="center">Please input your name:</p><br />

<form name="form1" id="form1" method="post" action="login" align="center">
User Name: <input type="text" name="username" id="inputname" required="required" align="center"> <br />
<input type="submit" value="Submit" align="center" class="button">

</form>

<script type="text/javascript">

</script>

</body>
</html>
