<!DOCTYPE html>
<html>
<head>
    <style>
    .innerpara {
        font-size: 16px;

        position: absolute;
        /* user-select: none; */
    }

    .image{
        vertical-align: top;
        height:200px;

    }

    .inline{
        display:inline-block;
        position:relative
    }
    </style>
  <meta charset="utf-8"/>
  <script type="text/javascript" src="{{url_for('static', filename='three.min.js')}}"></script>

  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
    // ページの読み込みを待つ
    window.addEventListener('load', init);

    var text_objects = [],circle_objects = [];
    var scene;
    var item_number = 2;
    var x_bias = -30;
    var y_bias = -15;
    var myCanvas,ctx,textCanvas,textctx;
    var item1_name = "{{Item1Name}}";
    var item2_name = "{{Item2Name}}";
    var src1 = "data:;base64,{{Item1Stream}}";
    var src2 = "data:;base64,{{Item2Stream}}";
    var item_name_list = [];
    var loader = new THREE.FontLoader();
    var english_font,chinese_font,japanese_font;

    const window_height = window.innerHeight;
    const window_width = window.innerWidth;





    function init() {

      // サイズを指定
      const width = window_width * 0.6;
      const height = window_height * 0.8;

      //console.log(window_height);
      //console.log(window_width);

      myCanvas = document.getElementById("myCanvas");
      //textCanvas = document.getElementById("textCanvas");
      //textctx = textCanvas.getContext("2d");
      //textctx.clearRect(0,0,width,height);
      //textctx.font = "12px Arial";
      myCanvas.width = width;
      myCanvas.height = height;

      item_name_list.push(item1_name)
      item_name_list.push(item2_name)

      loader.load("static/Ubuntu Mono_Regular.json",function(res){
          english_font = res;
          //console.log("english_font_loaded");
      });
      loader.load("static/TakaoPMincho_Regular.json",function(res){
          japanese_font = res;

          var options = {
              size: 20,
              height: 20,
              weight: "bold",
              style: "normal",
              font: japanese_font
          };

          var circle_geometry = new THREE.CircleGeometry(40,32);

          var geometry_1 = new THREE.TextGeometry(item1_name,options);
          var geometry_2 = new THREE.TextGeometry(item2_name,options);

          var geo_list = [];
          geo_list.push(geometry_1);
          geo_list.push(geometry_2);

          var text_material = new THREE.MeshBasicMaterial({color:0x000000});
          var cirle_material = new THREE.MeshBasicMaterial({color:0xff8800});

          for (var i = 0; i < item_number; i++){

              var text_object = new THREE.Mesh(geo_list[i], text_material);
              var circle_object = new THREE.Mesh(circle_geometry,cirle_material);
              text_object.position.x = Math.random()*width/2 - width/4;
              text_object.position.y = Math.random()*height/2 - height/4;
              text_object.position.z = 400;
              text_object.name = "item" + (i+1).toString();
              circle_object.position.x = text_object.position.x;
              circle_object.position.y = text_object.position.y;
              circle_object.position.z = 200;

              scene.add(text_object);
              scene.add(circle_object);
              text_objects.push(text_object);
              circle_objects.push(circle_object);
          }

          var dragControls = new THREE.DragControls(circle_objects,camera, renderer.domElement);

          tick();

      });
      loader.load("static/chinese_Regular.json",function(res){
          chinese_font = res;
      });



      // レンダラーを作成
      const renderer = new THREE.WebGLRenderer({
        canvas: document.querySelector('#myCanvas')
      });
      renderer.setPixelRatio(window.devicePixelRatio);
      renderer.setSize(width, height);

      // シーンを作成
      scene = new THREE.Scene();
      scene.background = new THREE.Color(0xf0f0f0);

      // カメラを作成
      const camera = new THREE.OrthographicCamera(width/ -2, width/ 2, height/ 2, height/ -2, 1, 1000);
      camera.lookAt(new THREE.Vector3(0,0,0));
      camera.position.set(0, 0, +1000);

      //var geometry_1 = new THREE.CircleGeometry(30,64);

      // 毎フレーム時に実行されるループイベントです
      function tick() {

        for (var i = 0; i < item_number; i++){
            text_objects[i].position.x = circle_objects[i].position.x + x_bias;
            text_objects[i].position.y = circle_objects[i].position.y + y_bias;
        }

        renderer.render(scene, camera); // レンダリング

        requestAnimationFrame(tick);
      }
    }
  </script>
</head>
<body>


    <div id="p1" unselectable="on" class="innerpara"></div>
    <div id="p2" unselectable="on" class="innerpara"></div>

  <div class="inline">
  <canvas id="myCanvas"></canvas>
  <canvas id="textCanvas" class="innerpara"></canvas>
</div>
  <img id="image" class="image">
</body>
<script>
/*
 * @author zz85 / https://github.com/zz85
 * @author mrdoob / http://mrdoob.com
 * Running this will allow you to drag three.js objects around the screen.
 */

THREE.DragControls = function ( _objects, _camera, _domElement ) {

	if ( _objects instanceof THREE.Camera ) {

		console.warn( 'THREE.DragControls: Constructor now expects ( objects, camera, domElement )' );
		var temp = _objects; _objects = _camera; _camera = temp;

	}

    var img = document.getElementById("image");
	var _plane = new THREE.Plane();
	var _raycaster = new THREE.Raycaster();

	var _mouse = new THREE.Vector2();
	var _offset = new THREE.Vector3();
	var _intersection = new THREE.Vector3();
	var _worldPosition = new THREE.Vector3();
	var _inverseMatrix = new THREE.Matrix4();

	var _selected = null, _hovered = null;

	//

	var scope = this;

	function activate() {

		_domElement.addEventListener( 'mousemove', onDocumentMouseMove, false );
		_domElement.addEventListener( 'mousedown', onDocumentMouseDown, false );
		_domElement.addEventListener( 'mouseup', onDocumentMouseCancel, false );
		_domElement.addEventListener( 'mouseleave', onDocumentMouseCancel, false );
		_domElement.addEventListener( 'touchmove', onDocumentTouchMove, false );
		_domElement.addEventListener( 'touchstart', onDocumentTouchStart, false );
		_domElement.addEventListener( 'touchend', onDocumentTouchEnd, false );

	}

	function deactivate() {

		_domElement.removeEventListener( 'mousemove', onDocumentMouseMove, false );
		_domElement.removeEventListener( 'mousedown', onDocumentMouseDown, false );
		_domElement.removeEventListener( 'mouseup', onDocumentMouseCancel, false );
		_domElement.removeEventListener( 'mouseleave', onDocumentMouseCancel, false );
		_domElement.removeEventListener( 'touchmove', onDocumentTouchMove, false );
		_domElement.removeEventListener( 'touchstart', onDocumentTouchStart, false );
		_domElement.removeEventListener( 'touchend', onDocumentTouchEnd, false );

	}

	function dispose() {

		deactivate();

	}

	function onDocumentMouseMove( event ) {

		event.preventDefault();

		var rect = _domElement.getBoundingClientRect();

		_mouse.x = ( ( event.clientX - rect.left ) / rect.width ) * 2 - 1;
		_mouse.y = - ( ( event.clientY - rect.top ) / rect.height ) * 2 + 1;

		_raycaster.setFromCamera( _mouse, _camera );

		if ( _selected && scope.enabled ) {

			if ( _raycaster.ray.intersectPlane( _plane, _intersection ) ) {

				_selected.position.copy( _intersection.sub( _offset ).applyMatrix4( _inverseMatrix ) );

			}

			scope.dispatchEvent( { type: 'drag', object: _selected } );

			return;

		}

		_raycaster.setFromCamera( _mouse, _camera );

		var intersects = _raycaster.intersectObjects( _objects );

		if ( intersects.length > 0 ) {

			var object = intersects[ 0 ].object;


            /*
            if(object.name == "item1"){
                img.src = src1;
                img.style.display = "inline: block";
                //console.log("1");
            }
            else if(object.name == "item2"){
                img.src = src2;
                img.style.display = "inline: block";
                //console.log("2");

            }
            else{
                img.style.display = "none";
                //console.log("0");
            }
            */

			_plane.setFromNormalAndCoplanarPoint( _camera.getWorldDirection( _plane.normal ), _worldPosition.setFromMatrixPosition( object.matrixWorld ) );

			if ( _hovered !== object ) {

				scope.dispatchEvent( { type: 'hoveron', object: object } );

				_domElement.style.cursor = 'pointer';
				_hovered = object;

			}

		} else {



			if ( _hovered !== null ) {



				scope.dispatchEvent( { type: 'hoveroff', object: _hovered } );

				_domElement.style.cursor = 'auto';
				_hovered = null;

			}

		}

	}

	function onDocumentMouseDown( event ) {

		event.preventDefault();

		_raycaster.setFromCamera( _mouse, _camera );

        console.log("click");

		var intersects = _raycaster.intersectObjects( _objects );
        //console.log(intersects)
		if ( intersects.length > 0 ) {

			_selected = intersects[ 0 ].object;
            //console.log(_selected.name);



			if ( _raycaster.ray.intersectPlane( _plane, _intersection ) ) {

				_inverseMatrix.getInverse( _selected.parent.matrixWorld );
				_offset.copy( _intersection ).sub( _worldPosition.setFromMatrixPosition( _selected.matrixWorld ) );

			}
			_domElement.style.cursor = 'move';
			scope.dispatchEvent( { type: 'dragstart', object: _selected } );
		}


	}

	function onDocumentMouseCancel( event ) {

		event.preventDefault();

		if ( _selected ) {

			scope.dispatchEvent( { type: 'dragend', object: _selected } );

			_selected = null;

		}

		_domElement.style.cursor = _hovered ? 'pointer' : 'auto';

	}

	function onDocumentTouchMove( event ) {

		event.preventDefault();
		event = event.changedTouches[ 0 ];

		var rect = _domElement.getBoundingClientRect();

		_mouse.x = ( ( event.clientX - rect.left ) / rect.width ) * 2 - 1;
		_mouse.y = - ( ( event.clientY - rect.top ) / rect.height ) * 2 + 1;

		_raycaster.setFromCamera( _mouse, _camera );

		if ( _selected && scope.enabled ) {

			if ( _raycaster.ray.intersectPlane( _plane, _intersection ) ) {

				_selected.position.copy( _intersection.sub( _offset ).applyMatrix4( _inverseMatrix ) );

			}

			scope.dispatchEvent( { type: 'drag', object: _selected } );

			return;

		}

	}

	function onDocumentTouchStart( event ) {

		event.preventDefault();
		event = event.changedTouches[ 0 ];

		var rect = _domElement.getBoundingClientRect();

		_mouse.x = ( ( event.clientX - rect.left ) / rect.width ) * 2 - 1;
		_mouse.y = - ( ( event.clientY - rect.top ) / rect.height ) * 2 + 1;

		_raycaster.setFromCamera( _mouse, _camera );

		var intersects = _raycaster.intersectObjects( _objects );

		if ( intersects.length > 0 ) {

			_selected = intersects[ 0 ].object;


			_plane.setFromNormalAndCoplanarPoint( _camera.getWorldDirection( _plane.normal ), _worldPosition.setFromMatrixPosition( _selected.matrixWorld ) );

			if ( _raycaster.ray.intersectPlane( _plane, _intersection ) ) {

				_inverseMatrix.getInverse( _selected.parent.matrixWorld );
				_offset.copy( _intersection ).sub( _worldPosition.setFromMatrixPosition( _selected.matrixWorld ) );

			}

			_domElement.style.cursor = 'move';

			scope.dispatchEvent( { type: 'dragstart', object: _selected } );

		}


	}

	function onDocumentTouchEnd( event ) {

		event.preventDefault();

		if ( _selected ) {

			scope.dispatchEvent( { type: 'dragend', object: _selected } );

			_selected = null;

		}

		_domElement.style.cursor = 'auto';

	}

	activate();

	// API

	this.enabled = true;

	this.activate = activate;
	this.deactivate = deactivate;
	this.dispose = dispose;

	// Backward compatibility

	this.setObjects = function () {

		console.error( 'THREE.DragControls: setObjects() has been removed.' );

	};

	this.on = function ( type, listener ) {

		console.warn( 'THREE.DragControls: on() has been deprecated. Use addEventListener() instead.' );
		scope.addEventListener( type, listener );

	};

	this.off = function ( type, listener ) {

		console.warn( 'THREE.DragControls: off() has been deprecated. Use removeEventListener() instead.' );
		scope.removeEventListener( type, listener );

	};

	this.notify = function ( type ) {

		console.error( 'THREE.DragControls: notify() has been deprecated. Use dispatchEvent() instead.' );
		scope.dispatchEvent( { type: type } );

	};

};

THREE.DragControls.prototype = Object.create( THREE.EventDispatcher.prototype );
THREE.DragControls.prototype.constructor = THREE.DragControls;

</script>

</html>
